:root{
  --tier-green:rgb(0, 255, 145);
}
body{
  margin: 0;
  color:white;
  
}
nav{
  display: flex;
justify-content: space-between;
gap: 5px;
}
a{
  text-decoration: none;
  color:rgb(43, 43, 43);
}
a.dark{
  color: rgb(225, 225, 225);
}
header{
  display: flex;
  justify-content: space-between;
  border-style: outset;
  border-top: 0px;
  border-inline: 0px;

}
p{
margin: 0;
}
h1{
  margin-bottom: 10px;
  margin-top: 0px;
  cursor: pointer;
}
.app{
  font-size: larger;
  height:100vw;
  width: 100%;
  color: rgb(43, 43, 43);
  background: rgb(225, 225, 225);
  /* background-image: url('../public/sea.jpg') ; */
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
}
.app.dark{
  background: rgb(43, 43, 43);
  color:rgb(225, 225, 225);
}
#tier-table{
  background-color: rgba(0, 0, 0, 0.358);
  padding-block: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  border-style: outset;
  border-color:var(--tier-green);
  border-width: 1px;
  margin-inline: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#tierRow{
display: flex;
flex-wrap: wrap;
border-color: var(--tier-green);
border-width: 1px;
border-style:inset;
border-top: 0;
border-inline: 0;
margin-block:1vw;
margin-inline: 5vw;
}
#bubble{
  border-radius: 10px;
  padding:10px;
  margin: 5px;
  margin-top: 12px;
  width:3rem;
  height:3rem;
  background-color: rgba(210, 210, 210, 0.283);
  width: max-content;
  border-color: var(--tier-green);
border-width: 1px;
border-style:outset;
}
#bubble-hidden{
  border-radius: 10px;
  padding:10px;
  margin: 5px;
  margin-top: 12px;
  width:3rem;
  height:3rem;
  background-color: rgb(26, 19, 33);
  overflow: hidden;
  border-color: var(--tier-green);
  border-width: 1px;
  border-style:outset;
}
.fa-eye{
  color:  rgba(255, 255, 255, 0.896);
  font-size:1.7rem;
  padding-left: .5rem;
  padding-top: .5rem;

}
#bubble-letter{
  background: linear-gradient(to top, rgb(112, 38, 186), rgb(0, 255, 145));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-size: 5rem;
}
#rankButton{
  font-family:'Times New Roman', Times, serif;
  margin-inline: 5px;
  margin-top: 10px;
  border: 0px;
  font-size: larger;
  
}
.entry{
display: flex;
justify-content: center;
}
.sButton{
  background-color: rgb(125, 246, 255);
  border-radius: 5px;
  border-color: aliceblue;
}

.aButton{
  background-color: rgb(119, 178, 255);
  border-radius: 5px;
  border-color: aliceblue;
}
.bButton{
  background-color: rgb(141, 128, 255);
  border-radius: 5px;
  border-color: aliceblue;
}
.cButton{
  background-color: rgb(190, 124, 255);
  border-radius: 5px;
  border-color: aliceblue;
}
.dButton{
  background-color: rgb(242, 126, 255);
  border-radius: 5px;
  border-color: aliceblue;
}
.sButton:hover{
  padding-inline: 10px;
}
.aButton:hover{
  padding-inline: 10px;
}
.bButton:hover{
  padding-inline: 10px;
}
.cButton:hover{
  padding-inline: 10px;
}
.dButton:hover{
  padding-inline: 10px;
}
.login-container{
display: flex;
flex-direction: column;
align-items: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 12vh;
  background-color: rgba(0, 0, 0, 0.358);
  padding: 100px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  border-style: outset;
  border-color:var(--tier-green);
  border-width: 1px;
}
.login-item{
margin-top: 5px;
}
.login-button{
  font-size: 15px;
  margin-top: 20px;
  padding-block: 3px;
  color: rgb(255, 255, 255);
  background-color: rgba(104, 85, 224, 0.6);
  border: 1px solid rgba(104, 85, 224, 1);
}
.login-button:hover{
  cursor: pointer;
  color: rgba(104, 85, 224, 0.6);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: var(--tier-green);
}
.not-user{
  font-size: smaller;
}
.create-account{
  border-width: 1px;
  border-color: var(--tier-green);
  border-style: outset;
  border-bottom: 0;
  border-inline: 0;
  margin-top: 20px;
  padding-top: 5px;
  text-decoration: underline;

}
.create-account:hover{
  color: var(--tier-green);
  
}
.create-account.dark{
  color:rgb(255, 255, 255) ;
}
.ez-span{
  background: linear-gradient(to top, rgb(112, 38, 186), rgb(0, 255, 145));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.welcome-p{
  margin-bottom: 10px;
  border-width: 1px;
  border-color: var(--tier-green);
  border-style: outset;
  border-top: 0;
  border-inline: 0;
  padding:10px;
}
.github{
  color: rgb(126, 72, 180)

}
.github.dark{
  background-color: rgba(240, 248, 255, 0);
  color: var(--tier-green);
}
.demo-container{
  margin-bottom: 10px;
}
.demo-account{
  color:var(--tier-green);
}
.demo{
  font-size: 15px;
}
#save-tier{
  display: flex;
justify-content: center;
}
#save-tier button{
  font-size: larger;
}
.tiers-list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.tiers-list{
  display: flex;
  margin: 2px;
  border-radius: 10px;
  padding:10px;
  margin: 5px;
  margin-top: 12px;
  width:30vw;
  height:3rem;
  background-color: rgba(26, 19, 33, 0.208);
  border-color: var(--tier-green);
border-width: 1px;
border-style:outset;
flex-direction: row;
  justify-content: space-between;

  
}
.tiers-list-card{
font-size: larger;
border-radius: 10px;
padding:10px;
margin: 5px;
margin-top: 12px;
background-color: rgba(26, 19, 33, 0.208);
  border-color: var(--tier-green);
border-width: 1px;
border-style:outset;

}
.table-card{
  margin-top: 10px;
  height:fit-content;
}
.table-card-header{
  display: flex;
  justify-content: center;
}
.link-nav{
  padding-inline-start: 10px;
}
.delete-button{
  background-color: rgba(255, 144, 144, 0.452);
  border-radius: 6px;
}
input{
  border-color: var(--tier-green);
  border-radius: 3px;
  border-width: 1px;
}